<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body{
            background: #d9710f;
            background: -webkit-radial-gradient(circle, #d9710f 0%, #b72f19 50%, #c52a10 100%);
            background: radial-gradient(circle, #d9710f 0%, #b72f19 50%, #c52a10 100%);
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="game"></div>
</body>
</html>